*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin-left: 200px;
    margin-top: 50px;
}

.product{
    position: relative;
    display: inline-block;
    color: honeydew;
}

img{
    width: 420px;
    height: 600px;
    display: inline-block;
}

.discount{
    padding: 5px;
    display: inline-block;
}

.red{
    background-color: rgba(235,0,55,255);
}

.Sostenibilità{
    background-color: rgba(0,135,90,255);
    padding: 5px;
    display: inline-block;
}

.opzioni{
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.new{
    color: rgba(235,0,55,255);
}

.old{
    text-decoration: line-through;
}

.brand{
    color: goldenrod;
}

.heart-conteiner{
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 15px;
}

.heart{
    color: black;
    margin-top: 15px;
    margin-left: 20px;
}





